.vs
java/.idea
java/target
rt-Runtime/build
runtime-flat/build

runtime-oop/build/
runtime-flat/*.o
output/flat/build
output/test/
tmp_output/
.mimocode/
target/rpi/pou_registry.gen.cpp
*.exe
*.o
*.jar
target/*/build/

